.container {
  max-width: 800px;
  margin: 0 auto;
  h1 {
    text-align: center;
  }
  p {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }
  .globalService {
    background: coral;
    text-align: center;
  }
  .localService {
    background: navy;
    text-align: center;
  }
}
